@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;


    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

body {
    background-color: black;
    color: white;
}

.invertsvg {
    filter: invert(1);
}

.mainstructure {
    display: flex;
    position: fixed;
}

a {
    color: white;
    text-decoration: none;

}

nav a {
    display: inline-block;
    transition: transform 0.3s ease;
}

nav a:hover {
    color: white;
    transform: scale(1.08);
}

nav h3 .Sign:hover {
    border: 1px solid rgb(32, 32, 32);
    border-radius: 99px;

}

nav button {
    padding: 14px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 99px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;

}

nav button:hover {
    color: rgb(0, 0, 0);
    transform: scale(1.05);

}

.left {
    height: 89vh;
    max-height: 100vh;
    overflow: hidden;
    width: 25vw;
    border: 2px solid black;
    background-color: rgb(32 32 32);
    margin-top: 3px;
    margin-right: 3px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    overflow: hidden;

}

.sidebar-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}


.right {
    height: 87vh;
    max-height: 100vh;
    overflow: scroll;
    width: 75vw;
    border: 2px solid black;
    background-color: rgb(32, 32, 32);
    border-radius: 8px;
    margin-top: 3px;
    position: relative;
}

.right nav {
    margin: 28px;
}


.play {
    height: 28px;
    width: 28px;
    border: 2px solid rgb(32, 32, 32);
    background-color: #1fdf64;
    margin: 25px;
    padding: 4px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 168px;
    right: 17px;
    opacity: 1;
    transition: all 1s ease-out;
}

.plte {
    padding: 17px;
}

.plte p {
    padding-bottom: 12px;
}

.plte button {
    padding: 14px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 99px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 15px;

}

.plte button:hover {
    color: rgb(0, 0, 0);
    transform: scale(1.05);

}

.plte h3 {
    padding-bottom: 12px;
}

.pod {
    height: auto;
    width: 22vw;
    border: 2px solid rgb(32, 32, 32);
    background-color: rgb(32, 32, 32);
    margin: 25px;
    border-radius: 8px;
}

.pote {
    padding: 17px;
}

.pote p {
    padding-bottom: 12px;
}

.pote button {
    padding: 14px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 99px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 15px;

}

.pote button:hover {
    color: rgb(0, 0, 0);
    transform: scale(1.05);

}

.pote h3 {
    padding-bottom: 12px;
}

header {
    position: sticky;
}

nav {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin: 12px;
}

.searchbar {
    display: flex;
    border: 2px solid black;
    background-color: rgb(32 32 32);
    border-radius: 99px;
    height: 37px;
    width: 285px;
    z-index: 10;
}

.searchbar input {
    background-color: rgb(32 32 32);
    background: rgb(32 32 32);
    border-radius: 99px;
    border: 0px solid rgb(32 32 32);
    color: white;
}

nav img {
    height: 30px;
    margin-top: 0px;
    margin: 4px;
}

nav input {
    width: 185px
}

nav a {
    color: rgb(99, 99, 99);
}

.plus {
    height: 30px;
    margin-top: 0px;
    margin: 4px;
}

.right h1 a:hover {
    text-decoration: underline;
}

.lib {
    background-color: rgb(19, 17, 17);
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.lib h2 {
    margin: 20px;
}


.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
    font-size: 13px;
    padding: 12px 16px;
    background-color: rgb(19, 17, 17);
}


.right nav {
    display: flex;
    justify-content: space-between;
}

.right nav a {
    color: white;
}

.cardcontainer {
    display: flex;
    justify-content: flex-start;
    padding: 4px;
    flex-wrap: wrap;
    gap: 0px;
    max-height: 75vh;
    overflow-y: scroll;
    background-color: rgb(22, 22, 22);
    margin: 0;
    width: 100vw;
}

.spotify-playlist {
    background-color: rgb(22, 22, 22);
    position: fixed;
    height: 75vh;
    padding: 0;
    margin: 0;

}

.card {
    height: 285.5px;
    width: 186.422px;
    background-color: rgb(22 22 22);
    border: 2px solid rgb(22, 22, 22);
    border-radius: 9px;
    margin: 0px;
    position: relative;
    transition: all 3s;
}

.card:hover {
    background-color: rgb(51, 51, 51);
    cursor: pointer;
}

.card>* {
    padding-top: 10px;
}

.card img {
    height: 50%;
    width: 100%;
    object-fit: contain;
}

.card p {
    margin-bottom: 30px;
    margin-left: 25px;

}

.card h3 {
    margin-left: 25px;
}

.card {
    margin: 4px;
    display: inline-block;

    transition: transform 0.3s ease;
}


.card .play {
    width: 60px;
    height: 60px;
    background: transparent !important;
}

/* Main scrollbar track */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track background */
::-webkit-scrollbar-track {
    background: #1e1e1e;
    /* dark gray */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #444;
    /* slightly lighter for contrast */
    border-radius: 10px;
    border: 2px solid #1e1e1e;
    /* matches track for inset effect */
}

/* On hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #666;
}

.playbar {
    position: fixed;
    bottom: 15px;
    background-color: rgb(125, 199, 125);
    width: 72vw;
    padding: 12px;
    border-radius: 13px;
    height: auto;
}

.songbuttons {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.songlist {
    height: 66vh;
    overflow: scroll;
    margin: 33px 0;
    flex: 1;
}

.hamburger {
    display: none;
}

.songlist ul {
    padding: 0 12px;
}

.songlist ul li {
    list-style-type: decimal;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    cursor: pointer;
    padding: 12px 0;
    border: 1px solid white;
    margin-bottom: 12px;
    padding: 9px;
    border-radius: 10px;
}


.songlist .info {
    font-size: 13px;
    width: 344px;
}

.playnow img {
    height: 38px;
    width: 38px;

}

.playnow {
    display: flex;
    gap: 11px;
    justify-content: center;
    align-items: center;
}

.seekbar {
    height: 2px;
    width: 97%;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    margin: 4px;
    cursor: pointer;
}

.circle {
    width: 13px;
    height: 13px;
    border-radius: 13px;
    background-color: white;
    position: absolute;
    bottom: -5px;
    left: 0%;
    transition: left 0.5s;
}

.songbuttons img {
    cursor: pointer;
}

.abovebar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-icon {
    display: none;

}

.hamburger {
    display: none;
}

.volume {
    position: relative
}

.volume-slider {
    position: absolute;
    bottom: 78px;
    border-radius: 99px;
    /* slightly above the icon */
    left: 12px;
    transform: translateX(-50%) rotate(-90deg);
    width: 100px;
    /* height after rotate */
    height: 12px;
    appearance: none;
    z-index: 999;
    background: linear-gradient(to right, rgba(0, 123, 255, 1)500%, rgba(0, 123, 255, 0.2)500%);
    display: none;
    outline: none;
}

/* Make it blue */
.volume-slider::-webkit-slider-thumb {
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #007bff;
    border: none;
    cursor: pointer;
    z-index: 2;
    position: relative;
    margin-top: -2px;
}


.volume-slider::-webkit-slider-runnable-track {
    background: transparent;
    height: 12px;
    border-radius: 99px;

}

/* Firefox */
.volume-slider::-moz-range-thumb {
    width: 16px;
    height: 16px;
    background: #007bff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.volume-slider::-moz-range-track {
    background: transparent;
}


.volume img {
    height: 28px;

}


.time {
    display: flex;
    gap: 10px;
    align-items: center;
}

@media (max-width: 1200px) {
    body {
        position: fixed;
    }

    .left {
        position: absolute;
        left: -100%;
        transition: all 0.3s;
        z-index: 1;
        width: 333px;
        /* height: 100vw; */
    }

    .right {
        width: 100vw;
        margin: 0;
        padding: 0;
        height: calc(100vh - 67px);
        overflow: hidden;
        display: flex;
        flex-direction: column;
        margin-top: 0;

    }

    .spotify-playlist {
        flex: 1;
        overflow-y: auto;
    }

    .cardcontainer {
        max-height: 100%;
        justify-content: flex-start;
        display: flex;
        width: 100vw;
        overflow-y: auto;
        padding-bottom: 20px;
        /* avoid content hidden behind playbar */
    }

    .card {
        margin: 8px;
    }

    .playbar {
        position: fixed;
        bottom: 10px;
        width: calc(100vw - 45px);
        z-index: 99;
        left: 10px;
        right: 0;
    }

    .seekbar {
        width: 93vw;
    }

    .hamburger {
        display: block;
    }




    .original {
        display: none;
    }





    header nav {
        background-color: rgb(32, 32, 32);
        margin: 0;
        width: 100vw;
        display: flex;
        align-items: center;
        gap: 12px;
        padding: 10px;

    }

    .logo {
        height: 30px;

    }

    .searchbar {
        flex: 1;
        margin-left: 10px;

    }



    header nav .original {
        background-color: cyan;
        position: absolute;
        top: 0;

        left: -100%;
        transition: all 0.3s;
        z-index: 1;
        width: 233px;

    }


    header nav {
        background-color: rgb(32 32 32);
        margin: 0;
        width: 100vw;
        justify-content: space-between;
        flex-wrap: wrap;

    }

    @media (max-width: 425px) {
        body {
            position: fixed;
        }

        header nav {
            width: 100vw;
        }

        .cardcontainer {

            margin: 0;

        }

        .card {
            width: 150px;
        }

        .card img {
            padding-top: 2px;
        }

        header nav {
            display: -webkit-box;
        }

        .playbar {
            width: calc(100vw - 45px);
        }

        .seekbar {
            width: calc(100vw - 50px);
        }

        .abovebar {
            width: calc(100vw - 50px);
            display: flex;
            gap: 10px;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }

        .volume-slider {
            transform: none !important;
            position: absolute;
            bottom: 50%;
            left: 85px;
            width: 100px;
            height: 8px;
            z-index: 999;
            transform: translateX(-50%) !important;
        }


    }


}